1.1 Write a Python Program to implement your own myreduce() function which works exactly 
like Python's built-in function reduce()

1.2 Write a Python program to implement your own myfilter() function which works exactly 
like Python's built-in function filter()

2.Implement List comprehensions to produce the following lists. 

Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], 
[4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [1]:
# 1.1

def myreduce(function_call, iterable_list):
    ''' Similar to built in function reduce() '''
    value = iterable_list[0]
    for i in iterable_list[1:]:
        value = function_call(value, i)
    return value


iterable_list = [2, 3, 4]
print(myreduce(lambda x, y: x + y, iterable_list))

9

In [2]:
# 1.2

def myfilter(function_call, iterable_list):
    ''' similar to filter function '''
    return [item for item in iterable_list if function_call(item)]


iterable_list = [2, 3, 4]
print(myfilter(lambda x: x % 2 == 0, iterable_list))

[2, 4]

In [3]:
# 2

double = [i*j for j in ["x", "y", "z"] for i in range(1, 5)]
print(double)
double_1 = [i*j for i in range(1, 5) for j in ["x", "y", "z"]]
print(double_1)
arr = [[j] for i in range(2, 5) for j in range(i, i+3)]
arr_1 = [[j for j in range(i, i+4)] for i in range(2, 6)]
print(arr, arr_1)
tup = [(j, i) for i in range(1, 4) for j in range(1, 4)]
print(tup)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]